<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>Formulaire </title>
    <span th:replace="~{home :: bootstrapImports}"></span>

</head>
<body>
<header>
    <span th:replace="~{home :: navBar}"></span>
</header>
<div class="container" th:object="${post}">
    <h1 class="text-center display-3 mt-8">  <span th:text="*{title}"></span></h1>
    <hr>
    <div class="container p-0" style="height: 50%;">
        <img th:src="@{'/upload-dir/' + ${post.imageUrl}}" class="img-fluid opacity-50 h-10" alt="Responsive image">
    </div>

    <h2 class="text-center display-5 mt-4"> <span th:text="*{description}"></span></h2>
    <hr>
    <p class="text-center"><span  th:text="*{content}"></span></p>
    <div th:if="${token}"  class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a th:href="@{/update/{postId}(postId=${post.id})}" class="btn btn-outline-info">Update</a>
        <a th:href="@{/delete(postId=${post.id})}" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this post?')">Delete</a>
    </div>

    <hr>
    <input type="hidden" th:field="*{id}">


    <div class="container mt-3">
        <div class="row">
            <div th:unless="${post.commentList == null or post.commentList.isEmpty()}" th:each="comment, commentInd : ${post.commentList}" class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${comment.lastName}"></h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${comment.email}"></h6>
                        <p class="card-text" th:text="${comment.content}"></p>
                    </div>
                </div>
            </div>
            <div th:if="${post.commentList == null or post.commentList.isEmpty()}" class="col">
                <p>Aucun commentaire pour le moment.</p>
            </div>
            <div class="container mb-4">
                <a th:href="@{/addComment/{postId}(postId=${post.id}, imageUrl=${post.imageUrl})}" class="d-flex justify-content-end" style="text-decoration: none; color: inherit;">
                    <button class="btn btn-outline-success mn-4"><i class="bi bi-patch-plus"></i> Ajouter un commentaire</button>
                </a>
            </div>
        </div>
    </div>


</body>
</html>