<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Formulaire </title>
  <span th:replace="~{home :: bootstrapImports}"></span>

</head>
<body>
<header>
  <span th:replace="~{home :: navBar}"></span>
</header>
<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-6 jus">
      <h1 class="text-center mb-4">Formulaire pour ajouter un commentaire</h1>
      <hr>
      <form th:action="@{/addComment/{postId}(postId=${postId})}" th:object="${comment}" method="post">
        <div class="mb-3">
          <label for="lastName" class="form-label"></label>
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="lastName"
                 aria-describedby="lastName" th:field="*{lastName}">
          <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label"></label>
          <input type="text" name="email" class="form-control" id="email" placeholder="email"
                 aria-describedby="email" th:field="*{email}">
          <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="mb-3">
          <textarea class="justify-content-center" name="content" rows="10" cols="45" th:field="*{content}"></textarea>
          <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary me-md-2" type="submit"><i class="bi bi-patch-plus"> Submit</i>
          </button>
        </div>
        <input type="hidden" th:field="*{id}">

      </form>
    </div>

  </div>
</div>


</body>
</html>