<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>

        <!--<mapping class="heritage.joined.CreditCardPayment"></mapping>-->
        <!--<mapping class="heritage.joined.Payment"></mapping>-->
        <!--<mapping class="heritage.joined.PayPalPayment"></mapping>-->
        <!--        <mapping class="heritage.single_table.CreditCardPayment1"></mapping>-->
        <!--        <mapping class="heritage.single_table.Payment1"></mapping>-->
        <!--        <mapping class="heritage.single_table.PayPalPayment1"></mapping>-->
        <mapping class="service.ProductService"></mapping>
        <mapping class="entity.Product"></mapping>
        <mapping class="dao.ProductDao"></mapping>
        <mapping class="repository.Repository"></mapping>
        <mapping class="controller.IHM"></mapping>


    </session-factory>

</hibernate-configuration>