<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <span th:replace="~{home :: bootstrapImports}"></span>

</head>
<body>
<header>
    <span th:replace="~{home :: navBar}"></span>
</header>

<div class="container">
    <h2 class="text-center">Les étudiants</h2>
    <hr>
    <form th:action="@{/search}" method="get" class="d-flex">
        <input class="form-control me-2 " type="text" name="name" placeholder="Enter last name">
        <button class=" btn btn-info" type="submit">Search</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">FirstName</th>
            <th class="text-center" scope="col">LastName</th>
            <th class="text-center" scope="col">Détail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student, studentStat : ${students}">
            <td class="text-center" th:text="${studentStat.index + 1}"></td>
            <td class="text-center" th:text="${student.firstName}"></td>
            <td class="text-center" th:text="${student.lastName}"></td>

            <td class="text-center">
                <a class="text-decoration-none text-center" th:href="@{/detail/{studentId}(studentId=${student.id})}">
                    <i class="bi bi-eye "></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/list}" method="get">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-danger mb-3 " type="submit">Cancel</button>
        </div>
    </form>
    <div th:if="${students.isEmpty()}">
        <p>Aucun étudiant trouvé.</p>
    </div>
</div>

</body>
</html>
