<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste de tâches</title>
</head>
<body>
<h1>Liste de tâches</h1>
<hr>
<ul th:if="${!tasks.isEmpty()}">
    <li th:each="t : ${tasks}" >
        <p>Titre : <span th:text="${t.getTitle()}"></span></p>
        <p>Description :  <span th:text="${t.getDescription()}"></span></p>
        <p>Status : <span th:text="${t.isDone() ? 'fait' : 'à faire'}"></span></p>
    </li>
</ul>
</body>
</html>